{% assign innovations = site.data.data.innovations %} {% if innovations %}
<section class="section innovations-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-shapes fa-stack-1x fa-inverse"></i>
    </span>
    {{ innovations.title }}
  </h2>

  {% if innovations.intro %}
  <div class="intro">
      <p>{{ innovations.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  <ol>
    {% for innovation in innovations.contributions %}
    <li>
    <div class="item">
      <span class="project-authors">{{ innovation.inventors }}</span>
    
      , <span class="project-title">
        {% if innovation.link %}
        <a href="{{ innovation.link }}" target="_blank">{{ innovation.title  }}</a>
        {% else %}
        {{ innovation.title }}
        {% endif %}
      </span>
      , <span class="project-year">{{ innovation.year }}</span>.
    
      {% if innovation.tagline %}
      - <span class="project-tagline">{{ innovation.tagline }}</span>
      {% endif %}
    
    </div>
    </li>
    <!--//item-->
    {% endfor %}
    </ol>

</section>
<!--//section-->
{% endif %}