{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

<!--
<h3 class="section-title">
   <span class="fa-stack fa-xs">
     <i class="fas fa-circle fa-stack-2x"></i>
     <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
   </span>
   {{ publications.books.title }}
</h3>
-->

<section class="section books-section">
  <h4> 
    {{ publications.books.title }}
  </h4>

  {% if publications.books.intro %}
  <div class="intro">
    {{ publications.books.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

<ul>
{% for publication in publications.books.contributions %}
</li>
<div class="item">
  <span class="project-authors">{{ publication.authors }}</span>

  , <span class="project-title">
    {% if publication.link %}
    <a href="{{ publication.link }}" target="_blank">{{ publication.title  }}</a>
    {% else %}
    {{ publication.title }}
    {% endif %}
  </span>

  , <span class="project-chapter">{{ publication.chapter }}</span>
  , <span class="project-number">Chapter {{ publication.number }}</span>
  , <span class="project-year">{{ publication.year }}</span>

  {% if publication.tagline %}
  - <span class="project-tagline">{{ publication.tagline }}</span>
  {% endif %}

</div>
</li>
<!--//item-->
{% endfor %}
</ul>
</section>

<section class="section journals-section">
  <h4> 
    {{ publications.journals.title }}
  </h4>

  {% if publications.journals.intro %}
  <div class="intro">
    {{ publications.journals.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

<ul>
{% for publication in publications.journals.contributions %}
</li>
<div class="item">
  <span class="project-authors">{{ publication.authors }}</span>

  , <span class="project-title">
    {% if publication.link %}
    <a href="{{ publication.link }}" target="_blank">{{ publication.title  }}</a>
    {% else %}
    {{ publication.title }}
    {% endif %}
  </span>

  , <span class="project-journal">{{ publication.journal }}</span>

  {% if publication.volume %}
  , <span class="project-volume">{{ publication.volume }}</span>
  {% endif %}

  {% if publication.number %}
  ( <span class="project-number">{{ publication.number }}</span> )
  {% endif %}

  {% if publication.pages %}
  , <span class="project-pages">{{ publication.pages }}</span>
  {% endif %}

  , <span class="project-year">{{ publication.year }}</span>

  {% if publication.tagline %}
  - <span class="project-tagline">{{ publication.tagline }}</span>
  {% endif %}

</div>
</li>
<!--//item-->
{% endfor %}
</ul>
</section>

<section class="section conferences-section">
  <h4> 
    {{ publications.conferences.title }}
  </h4>

  {% if publications.conferences.intro %}
  <div class="intro">
    {{ publications.conferences.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

<ul>
{% for publication in publications.conferences.contributions %}
</li>
<div class="item">
  <span class="project-authors">{{ publication.authors }}</span>

  , <span class="project-title">
    {% if publication.link %}
    <a href="{{ publication.link }}" target="_blank">{{ publication.title  }}</a>
    {% else %}
    {{ publication.title }}
    {% endif %}
  </span>

  , <span class="project-conference">{{ publication.conference }}</span>

  {% if publication.volume %}
  , <span class="project-volume">{{ publication.volume }}</span>
  {% endif %}

  {% if publication.number %}
  ( <span class="project-number">{{ publication.number }}</span> )
  {% endif %}

  {% if publication.pages %}
  , <span class="project-pages">{{ publication.pages }}</span>
  {% endif %}

  , <span class="project-year">{{ publication.year }}</span>

  {% if publication.tagline %}
  - <span class="project-tagline">{{ publication.tagline }}</span>
  {% endif %}

</div>
</li>
<!--//item-->
{% endfor %}
</ul>
</section>



  <!-- {% for publication in publications.conferences %}
  <div class="item">
    {% if publication.link %}
      <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
    {% else %}
      <li>{{ publication.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
    <div class="publication-volume">{{ publication.volume }}</div>
    <div class="publication-number">{{ publication.number }}</div>
    <div class="publication-year">{{ publication.year }}</div> 
  </div>
  {% endfor %} -->

</section><!--//section-->
{% endif %}
